@import '../../../assets/css/variables.scss';

.card-info-container  {
    margin-top: 50px;

    @extend .not-mobile-container-flex;

    .card-container {
        width: 75%;
        height: 80%;
        background: #ffffff;

        @extend .not-mobile-container-flex;

        .card-header {
            @media screen and (min-width: 1024px) {
                width: 32%;
                background: $main-color;
                min-height: 500px;
            }

            @media screen and (min-width: 1366px) {
                height: 600px;
            }

            .card-header-content {
                padding: 50px 0 0 50px;

                .btn-back-payments {
                    width: 100%;
                    border: 0;
                    background: none;
                    cursor: pointer;
                    text-align: left;
                    transition: all .2s ease;

                    &:hover {
                        opacity: .8;
                    }

                    span {
                        color: #ffffff;
                        font-size: 1rem;
                        height: 20px;
                        line-height: 20px;
                        float: left;
                        text-shadow: 0 0 1px rgba(255, 255, 255, .7);
                    }

                    svg {
                        width: 20px;
                        float: left;
                        margin-right: 10px;

                        path {
                            fill: #ffffff;
                            box-shadow: 0 0 1px rgba(255, 255, 255, .7);
                        }
                    }
                }

                .add-new-card-text-container {
                    width: 100%;
                    margin-top: 40px;
                    word-wrap: break-word;

                    .card-icon {
                        padding: 10px;
                        
                        svg {                       
                            border: 3px solid white; 
                            border-radius: 1000px;    
                            width: 50px;
                            float: left;
                            margin-right: 15px;
                            

                            path {
                                fill: #ffffff;
                            }
                        }

                        span {
                            color: #ffffff;
                            font-size: 1.2rem;
                            font-weight: bold;
                            height: 50px;
                            display: inherit;
                            margin-top: 5px;
                            letter-spacing: .5px;
                        }
                    }
                }

                .card {
                    width: 380px;
                    margin: 10px 0 0 15px;
                    position: relative;

                    .card-number-name-container {
                        position: absolute;
                        width: 100%;
                        padding: 35px 25px 0 25px;
                        z-index: 2;
                        
                        img {
                            height: 23px;
                        }

                        .card-number-name,
                        .card-name-valid-date {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 50px;

                            span {
                                letter-spacing: 1px;
                                color: #ffffff;
                                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
                                font-family: SF Pro, Helvetica, Arial, sans-serif;
                            }
                        }

                        .card-number-name {
                            span {
                                font-size: 1.7rem;
                            }
                        }

                        .card-name-valid-date {
                            span {
                                font-size: 1.03rem;
                                letter-spacing: -1px;
                            }
                        }
                    }

                    .bg-card {
                        position: absolute;
                        z-index: 1;
                    }

                    .card-shadow {
                        position: absolute;
                        z-index: 0;
                        width: 330px;
                        height: 50px;
                        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
                        background: rgba(0, 0, 0, 0.3);
                        border-radius: 100px;
                        margin: 190px 0 0 20px;
                    }
                }
            }
        }

        .card-content-container {
            width: 68%;
            right: 0;
        }
    }

    .info-container {
        width: 23%;
        height: 250px;
        background: #ffffff;
    }
}