@import '../../../assets/css/variables.scss';

footer {
    width: 100%;
    height: 60px;
    border-top: 2px solid gray;
    position: fixed;
    bottom: 0;
    background: white;
    line-height: 55px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
    font-weight: 300;
    text-align: center;
    font-family: $main-font;
}