header {
    width: 100%;
    height: 80px;
    background: white;
    border-bottom: 2px solid gray;
    padding: 20px;
    position: relative;

    .logo {
        height: 40px;
        position: relative;
        float: left;
    }

    app-menu {
        float: right;
        margin-top: 10px;
    }

    .btn-menu-mobile {
        display: none;
    }

    @media screen and (max-width: 1024px) {
        padding: 10px 0 0 0;
        height: 50px;

        .logo {
            height: 30px;
            position: relative;
            float: left;
            margin-left: 10%;
        }

        .btn-menu-mobile {
            display: block;
        }
    }
}