* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
    outline: none;
  }
  
  button {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .fl {
    float: left;
  }
  
  .fr {
    float: right;
  }
  
  .full-container,
  .full-row,
  .full {
    width: 100%;
  }

  ul {
    list-style: none;
  }