/* COLORS */
$main-color: #DE4B4B;
$dark-gray: #3C3C3C;
$gray: #C9C9C9;
$light-gray: #f7f7f7;

/* FONTS */
$main-font: Verdana;

.not-mobile-container-flex {
    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;    
    }
}