@import '~bootstrap/scss/bootstrap';
@import 'assets/css/reset.scss';
@import 'assets/css/variables.scss';

body {
    width: 100%;
    height: 100%;
    line-height: 1;
    background: $light-gray;
    font-family: $main-font;
}

.main-container {
    width: 80%;
    margin-left: 10%;

    @media screen and (max-width: 1024px) {
        width: 100%;
        margin-left: 0;
    }
}

.bold {
    font-weight: bold;
}

