@import 'assets/css/reset.scss';
@import 'assets/css/variables.scss';

body {
    width: 100%;
    height: 100%;
    line-height: 1;
    background: $light-gray;
    font-family: $main-font;
}

.container {
    width: 80%;
    margin-left: 10%;
}