@import '../../../assets/css/variables.scss';

form {
    width: 100%;
    font-family: $main-font;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;

    label {
        color: #C9C9C9;
        text-align: left;
        font-size: 13px;
        letter-spacing: -1px;
        width: 100%;
    }

    input,
    select {
        width: 100%;
        height: 35px;
        line-height: 35px;
        color: #3c3c3c;
        font-size: 15px;
        padding: 5px;
        margin-bottom: 45px;
        border: none;
        border-bottom: 1px solid #c9c9c9;
    }

    col {
        width: 49%;
    }
}